body, html {
  background-color: rgba(23, 21, 59, 0.85); /* Ensure the background color covers the entire viewport */
  height: 100%;
  width: 100%;
  overflow: hidden; /* Hide scrollbars */
}

main {
  overflow-y: scroll; /* Allow vertical scrolling within the main content area */
  height: 100vh;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}body, html {
  background-color: rgba(23, 21, 59, 0.85); /* Ensure the background color covers the entire viewport */
  height: 100%;
  width: 100%;
  overflow: hidden; /* Hide scrollbars */
}

main {
  overflow-y: scroll; /* Allow vertical scrolling within the main content area */
  height: 100vh;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

main::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.AppBar {
  width: 100%;
}

body, html, #root {
  width: 100%;
  margin: 0;
  padding: 0;
}

main {
  width: 100%; /* Ensure main content takes full width */
  max-width: 100%;
  box-sizing: border-box;
}